body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}
p {
    color: rgb(145, 143, 143);
    font-size: 16px;
    font-weight: 400;
}

.orange-highlight {
    color: orange;
}

.left-part {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
img {
    width: 100%;
}

section {
    height: 500px;
}

.top-banner {
    background-image: url('img/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #FF9370, #FF684B);
    padding: 5px 12px;
    word-spacing: 3px;
    border-radius: 5px;
    color: rgb(250, 216, 216);
    font-weight: bold;
    display: inline-block;
}

.big-dream {
    background-image: url('img/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    margin-bottom: 80px;
    background-image: url('img/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.experience .left-part {
    box-shadow: 10px 10px 40px rgb(161, 157, 157);
    height: 380px;
    border-radius: 5px;
}

#full-stack {
    border-left: 5px solid red;
    border-image: linear-gradient(360deg, rgb(253, 250, 74), rgb(240, 59, 28));
    border-image-slice: 1;
}

#baby {
    border-left: 5px solid red;
    border-image: linear-gradient(180deg, rgb(47, 18, 211), rgb(10, 215, 251));
    border-image-slice: 1;
}

footer p {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}